* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer{
  display: flex;
  gap: 15px;
}

.field{
  position: relative;
}

.field .value{
  font-size: 2rem;
}

.field:nth-child(-n+3):after{
content: ':';
font-size: 2rem;
margin-left: 15px;
}

.field .label{
  position: absolute;
  top: 40px;
  left:0px
}

.form{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.form button{
width: 50%;

}


